version: "3.8"
services:
  postgres:
    image: postgres:17
    container_name: benchmark_db
    restart: always
    environment:
      POSTGRES_DB: benchmark
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ../db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - benchmark-net

  prometheus:
    image: prom/prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - benchmark-net

  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    networks:
      - benchmark-net

  influxdb:
    image: influxdb:2
    ports:
      - "8086:8086"
    networks:
      - benchmark-net

networks:
  benchmark-net:
    driver: bridge
